@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>Web application to calculate badminton game results</h3>

<p>Url: <a href="http://badmintonresults.apphb.com">http://badmintonresults.apphb.com</a></p>

<p>Codes: <a href="https://github.com/farihan/BadmintonResults">https://github.com/farihan/BadmintonResults</a></p>

<p>
    How to use:
    <br />1. Click 'Get a sample file' then right click and save as 'sample.txt'
    <br />2. Click 'Choose File' then select file from pc (in this case, select back the sample.txt file)
    <br />3. Click 'Calculate'
    <br />4. Results will be generated based on Aril's original excel including the color schema
    <br />5. Highlight the results and copy paste to excel as needed
</p>
@*<br />
<p>
    Important notes:
    <br />1. Key in results based on sample, salah keyin akan generate error
    <br />2. Tak guna excel sebab kena install third party library which probably need to have license (possible kena bayar)
    <br />3. Tak test from handphone's browser, tapi konsep penggunaan adalah sama
    <br />4. Tak guna database sebab database service usually kena bayar
</p>
<br />
<p>Issues, comments and feedbacks are much appreciated (that include the wording)... kalau senang nak fixed/add boleh je modify</p>
<p>
    Kalau yang susah... contoh: Nak friendly bulan Mac 2017... give me top 5 best pairs untuk tahun 2017
    <br />Susah sebab results with date kena simpan dalam database (refer important notes no.4)
    <br />Workaround: simpan semua weekly results dalam overall_file.txt based on sample format then upload the file to be calculated and you will get the pair ranking
</p>*@
